    /* === GENERAL STYLES === */

* {
    box-sizing: border-box;
}


/* Single-direction margin declaration to establich vertical rhythm. Harry Roberts */

h1,
h2,
h3,
ul,
ol,
dl,
p,
img,
nav,
{
    margin-bottom: 1.5rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #808080;
}

.header,
.impresszum {
    text-align: center;
    margin: 1.5rem auto;
    padding: .5rem 1rem;
    width: 95%;
}

h1,
h2 {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}

h2 {
    font-size: 3rem;
    font-weight: normal;
    font-style: normal;
}

a {
    font-size: 1.5rem;
}

a:hover {
    color: #606060;
    transition: color .15s ease-in-out;
}


/* === HEADER STYLES === */

.header {
    display: table;
    text-align: middle;
    background-color: #fff;
}

.logo img {
    height: 9rem;
}

.header-main-side a {
    text-align: middle;
    background-color: ;
    text-decoration: none;
    color: #808080;
    display: block;
}


/* === FOOTER STYLES === */

footer {
    height: 10vh;
    width: 100vw;
    background-color: #fff;
    color: #808080;
    font-family: 'Muli', sans-serif;
    display: table;
    text-align: center;
    font-size: .875rem;
}

.footer-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: .5rem 1rem;
}

footer p {
    margin-bottom: 0;
}

footer a {
    font-size: .875rem;
}

footer small {
    line-height: 1.5;
}


/* === RESPONSIVITY for HEADER === */

@media (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: row;
        background-color: #fff;
    }
    .logo img {
        float: left;
    }
    /* === RESPONSIVITY for FOOTER === */
    @media (min-width: 768px) {
        footer {
            min-height: 7vh;
        }
    }